# ========================
# OS & Environment
# ========================
.DS_Store
Thumbs.db
Desktop.ini
.env
.env.*


.vscode/
.idea/
*.iml
*.swp


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


**/target/
**/*.rs.bk


*.db
*.db-shm
*.db-wal


node_modules/
dist/
build/
.next/
.vite/

# Tauri specific
/TauriAPP/src-tauri/gen/
/TauriAPP/src-tauri/icons/android/
/TauriAPP/src-tauri/icons/ios/
/TauriAPP/.tauri/


Win32APP/*.obj
Win32APP/*.pdb
Win32APP/*.ilk
Win32APP/*.map
Win32APP/*.res
Win32APP/*.idb
Win32APP/*.exe
Win32APP/*.dll
# for precompiled headers 
Win32APP/*.pch


.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
/FlutterAPP/build/
/FlutterAPP/ios/.generated/